@font-face{
  font-family: Mitr-Bold;
  src: url(../fonts/Mitr-Bold.ttf);
  font-style: normal;
  font-variant:initial;
} 
@font-face{
  font-family: Mitr-Light;
  src: url(../fonts/Mitr-Light.ttf);
  font-style: normal;
  font-variant:initial;
} 
@font-face{
  font-family: Mitr-Medium;
  src: url(../fonts/Mitr-Medium.ttf);
  font-style: normal;
  font-variant:initial;
} 
@font-face{
  font-family: Mitr-Regular;
  src: url(../fonts/Mitr-Regular.ttf);
  font-style: normal;
  font-variant:initial;
} 
@font-face{
  font-family: Mitr-SemiBold;
  src: url(../fonts/Mitr-SemiBold.ttf);
  font-style: normal;
  font-variant:initial;
} 
@font-face{
  font-family: BalooThambi2-SemiBold;
  src: url(../fonts/BalooThambi2-SemiBold.ttf);
  font-style: normal;
  font-variant:initial;
} 
@font-face{
  font-family: SukhumvitSet-Medium;
  src: url(../fonts/SukhumvitSet-Medium.ttf);
  font-style: normal;
  font-variant:initial;
} 
@font-face{
  font-family: SukhumvitSet-Bold;
  src: url(../fonts/SukhumvitSet-Bold.ttf);
  font-style: normal;
  font-variant:initial;
} 
@font-face{
  font-family: Linearicons-Free;
  src: url(../fonts/Linearicons-Free.ttf);
  font-style: normal;
  font-variant:initial;
} 


.carousel-fade .carousel-item {
 opacity: 0;
 transition-duration: .6s;
 transition-property: opacity;
}

.carousel-fade  .carousel-item.active,
.carousel-fade  .carousel-item-next.carousel-item-left,
.carousel-fade  .carousel-item-prev.carousel-item-right {
  opacity: 1;
}

.carousel-fade .active.carousel-item-left,
.carousel-fade  .active.carousel-item-right {
 opacity: 0;
}

.carousel-fade  .carousel-item-next,
.carousel-fade .carousel-item-prev,
.carousel-fade .carousel-item.active,
.carousel-fade .active.carousel-item-left,
.carousel-fade  .active.carousel-item-prev {
 transform: translateX(0);
 transform: translate3d(0, 0, 0);
}

/*html {
  scroll-behavior: smooth;
}*/
.none-pad{
  padding: 0px 0px 0px 0px !important;
} 
.none-pad-r{
  padding: 0px 5px 0px 0px !important;
} 
.none-right{
  margin-right: -15px;
} 
.none-left{
  margin-left: -15px;
} 

.dropdown:hover>.dropdown-menu {
  display: block;
}
 
.navbar-toggler-left .fa-bars{
  color: #fff !important;
}
@media only screen and (max-width: 991px) { /* MOBILE */
  .mb-x{
    display: none !important;
  }
  .none-xs{
    padding: 0px 0px 0px 0px !important;
  }   
}
@media only screen and (min-width: 992px) { /* PC */
  .pc-x{
    display: none !important;
  }  
}

 
a:hover{
  text-decoration: none;
}
/*.banner {
  height: 100vh;
}*/ 

 
header{
  background-color: #fff;
  padding: 15px;
  font-family: Mitr-Regular;
}

header .logo{
  width: 160px;
  float: left;
  margin-bottom: -15px;
  margin-top: -15px;
}
.menu-right .logout{
  color: #ff000a;
  font-family: Mitr-Regular;
}
.menu-right ul{
  list-style: none;
}
.menu-right ul li{
  display: inline-block;
}
.usx{
  border-right: 2px solid #a2a2a2;
}
header a{
  color: #09a19b;  
}
header a:hover{
  color: #348784;
}
header a.login{
  font-family: Mitr-Regular;
}
header a.login:before{
  content: ""; 
  background-repeat: no-repeat;  
  width: 18px;
  height: 21px;
  background-size: 18px 21px;
  position: absolute;
  margin-left: -25px;
  margin-top: 4px;
}
.sec2{
  background-color: #09a19b;
  text-align: center;
}
.sec2 img{
  width: 180px;
}
.sec2 h3{
  font-family: Mitr-Regular;
  color: #fff;
}
.sec2 h6{
  font-family: Mitr-Light;
  color: #fff;
  line-height: 25px;
}
.sec3{
  background-color: #f8f8f8; 
}
.sec3 h3{
  font-family: Mitr-Bold;
  color: #707070;
  line-height: 40px;
}
.sec3 h5{
  font-family: Mitr-Light;
  color: #707070;
  line-height: 25px;
  line-height: 30px;
}
.sec3 {
  background-color: #fff;
}
.sec4{
  background-image: url(../images/shutterstock_407008462.png);
  background-position: center center;
}
.box-p{
  background-color: #fff;
  border-radius: 30px;  
  text-align: center;
  border: 2px solid #e4e3df;
  margin-top: 60px; 
  margin-bottom: 15px;
} 
.box-p img{
  height: 55px;
}

.box-p h2{
  color: #09a19b;
  font-family: Mitr-Bold; 
  z-index: 999;
  text-transform: uppercase;
}
.box-p h3{
  color: #3b3c3d;
  font-family: Mitr-Bold;
  text-transform: uppercase;
}
.box-p h6{
  color: #abacad;
  font-family: Mitr-Light;
}

.btn-x{
  display: block;
  width: 100%;
  font-family: Mitr-Bold;
  background-color: #08a19c;
  border-radius:30px;
  color: #fff;
  padding: 8px; 
  border: 1px solid #f37e21;
}
.btn-x span{ 
  font-family: Mitr-Regular;
}
.box-p span.p{ 
  background-image: linear-gradient(to bottom, #f86464, #fa6e6e, #fc7777, #fd8181, #fe8a8a); 
  color: #fff; 
  text-align:  center;
  font-family: Mitr-Regular;
  position: absolute;
  right: 0;
  top: 0; 
  border-radius: 100%;
  /*z-index: -1;*/
}
.btn-x:hover{
  color: #fff;
  background-color: #348784;
}

footer{
  background-color: #09A19B;
  min-height: 50px;
}
body.login{
  min-height: 100vh;
  background-color: #09a19b; 
}
.f-login{
    
}
.f-login h1{
  color: #fff;
  font-family: Mitr-Regular;  
  text-align: center;
}

.f-login form label{
  color: #fff;
  font-family: Mitr-Regular;  
}
.f-login form input{
  font-family: Mitr-Regular;  
  width: 100%;
  color: #000;
  border: none; 
}
input:focus, textarea:focus, select:focus{
  outline: none;
}

.bt-log{  
  color: #fff;  
  text-align: center;  
  font-family: Mitr-Regular;  
  border: none;
  background-color: #19f0e7; 
}

.bt0{
  position: absolute; 
  transform: translate(-50%, -50%);
  background-image: linear-gradient(to bottom, #09a19b, #1d9a95, #28938f, #2f8d89, #358683);
  border-radius: 50px;
  color: #fff;
  font-family: Mitr-Bold;  
  border: 4px solid #fff;
}
.bt0:hover{ 
  color: #fff; 
  background-color: #09a19b;
}
body.home{
  min-height: 100vh;
  background-color: #f2f2f2; 
}
.box1{  
  padding-left: 0px;
}
.box1 ul{
  list-style: none;
  padding-left: 0px;
  margin-left: 0px;
  border-right: 2px solid #e8e8e8;
}
.box1 ul li{  
  background-image: linear-gradient(to right, #ffffff, #fbfbfb, #f6f6f6, #f2f2f2, #eeeeee);
  border-bottom: 2px solid #e8e8e8;
}
.box1 ul li.active{
  background-image: linear-gradient(to right, #07cfc7, #07cfc7, #07cfc7, #07cfc7, #07cfc7);
}
.box1 ul li a{
  padding: 18px;
  padding-left: 45px;
  display: block;
  color: #07cfc7;
  font-family: Mitr-Regular; 
  font-size: 18px;
  width: 100%;
  height: 100%;
}

.box1 ul li:nth-child(1) a:before{
  content: "";
  background-image: url(../images/p1.png);
  background-repeat: no-repeat;  
  width: 20px;
  height: 20px;
  background-size: 20px 20px;
  position: absolute;
  margin-left: -25px;
  margin-top: 2px;
}

.box1 ul li:nth-child(2) a:before{
  content: "";
  background-image: url(../images/p2.png);
  background-repeat: no-repeat;  
  width: 20px;
  height: 20px;
  background-size: 20px 20px;
  position: absolute;
  margin-left: -25px;
  margin-top: 2px;
}

.box1 ul li:nth-child(3) a:before{
  content: "";
  background-image: url(../images/p3.png);
  background-repeat: no-repeat;  
  width: 20px;
  height: 20px;
  background-size: 20px 20px;
  position: absolute;
  margin-left: -25px;
  margin-top: 2px;
}

.box1 ul li:nth-child(4) a:before{
  content: "";
  background-image: url(../images/p4.png);
  background-repeat: no-repeat;  
  width: 20px;
  height: 20px;
  background-size: 20px 20px;
  position: absolute;
  margin-left: -25px;
  margin-top: 2px;
}
.box1 ul li.active:nth-child(1) a:before{
  content: "";
  background-image: url(../images/p1w.png);
  background-repeat: no-repeat;  
  width: 20px;
  height: 20px;
  background-size: 20px 20px;
  position: absolute;
  margin-left: -25px;
  margin-top: 2px;
}
.box1 ul li.active:nth-child(2) a:before{
  content: "";
  background-image: url(../images/p2w.png);
  background-repeat: no-repeat;  
  width: 20px;
  height: 20px;
  background-size: 20px 20px;
  position: absolute;
  margin-left: -25px;
  margin-top: 2px;
}
.box1 ul li.active:nth-child(3) a:before{
  content: "";
  background-image: url(../images/p3w.png);
  background-repeat: no-repeat;  
  width: 20px;
  height: 20px;
  background-size: 20px 20px;
  position: absolute;
  margin-left: -25px;
  margin-top: 2px;
}
.box1 ul li.active:nth-child(4) a:before{
  content: "";
  background-image: url(../images/p4w.png);
  background-repeat: no-repeat;  
  width: 20px;
  height: 20px;
  background-size: 20px 20px;
  position: absolute;
  margin-left: -25px;
  margin-top: 2px;
}


.box1 ul li:hover:nth-child(1) a:before{
  content: "";
  background-image: url(../images/p1w.png);
  background-repeat: no-repeat;  
  width: 20px;
  height: 20px;
  background-size: 20px 20px;
  position: absolute;
  margin-left: -25px;
  margin-top: 2px;
}
.box1 ul li:hover:nth-child(2) a:before{
  content: "";
  background-image: url(../images/p2w.png);
  background-repeat: no-repeat;  
  width: 20px;
  height: 20px;
  background-size: 20px 20px;
  position: absolute;
  margin-left: -25px;
  margin-top: 2px;
}
.box1 ul li:hover:nth-child(3) a:before{
  content: "";
  background-image: url(../images/p3w.png);
  background-repeat: no-repeat;  
  width: 20px;
  height: 20px;
  background-size: 20px 20px;
  position: absolute;
  margin-left: -25px;
  margin-top: 2px;
}
.box1 ul li:hover:nth-child(4) a:before{
  content: "";
  background-image: url(../images/p4w.png);
  background-repeat: no-repeat;  
  width: 20px;
  height: 20px;
  background-size: 20px 20px;
  position: absolute;
  margin-left: -25px;
  margin-top: 2px;
}






.box1 ul li.active a{
  color: #ffff;
}
.box1 ul li:hover{
  background-image: linear-gradient(to right, #07cfc7, #07cfc7, #07cfc7, #07cfc7, #07cfc7);
}
.box1 ul li a{
  color: #07cfc7;
  font-family: Mitr-Regular; 
  font-size: 18px;
}
.box1 ul li:hover a{
  color: #ffff;
}



.box2{ 
  background-color: #fff; 
  padding-top: 15px;
}
.box2 h1{
  font-family: Mitr-Regular; 
  color: #afafaf;
  border-bottom: 1px solid #afafaf;
  padding-bottom: 15px;
  margin-bottom: 15px;
  padding-left: 30px;
}
.box2 h1.g{ 
  color: #09a19b;
  border-bottom: 1px solid #afafaf; 
}

.data1{
  margin-top: 30px;
  padding:15px;  
}
.data1 h4{
  font-family: Mitr-Light;
  color: #6081c4;
  font-size: 20px;
  border-bottom: 1px solid #6081c4;
  padding-bottom: 15px; 
}
.data1 h4 span{
  font-family: Mitr-Light;
  color: #9d9f9d;
  font-size: 16px; 
  float: right;
}
.data1 h5{
  font-family: Mitr-Light;
  color: #6081c4;
  font-size: 20px; 
  padding-top: 5px; 
}
.data1 h3{
  font-family: Mitr-Regular;
  color: #5e615e;
  font-size: 24px; 
  float: right;
  margin-top: -30px;
} 
.data1 p{ 
  background-color: #6081c4;
  border-radius: 100%;
  position: absolute;
  left: 0;
  top: 0;
  margin-top: 20px; 
  padding-top: 10px;
}
.data1 p img{ 
  margin: auto;
  display: block;
}


.data2{
  margin-top: 30px;
  padding:15px;
}
.data2 h4{
  font-family: Mitr-Light;
  color: #00c300;
  font-size: 20px;
  border-bottom: 1px solid #00c300;
  padding-bottom: 15px; 
}
.data2 h4 span{
  font-family: Mitr-Light;
  color: #9d9f9d;
  font-size: 16px; 
  float: right;
}
.data2 h5{
  font-family: Mitr-Light;
  color: #00c300;
  font-size: 20px; 
  padding-top: 5px;
  padding-left: 90px;
}
.data2 h3{
  font-family: Mitr-Regular;
  color: #5e615e;
  font-size: 24px; 
  float: right;
  margin-top: -30px;
}
.data2 p{ 
  background-color: #00c300;
  border-radius: 100%;
  position: absolute;
  left: 0;
  top: 0;
  margin-top: 20px; 
  padding-top: 10px;
}
.data2 p img{ 
  margin: auto;
  display: block;
}
 
.data3{
  margin-top: 30px;
  padding:15px;
}
.data3 h4{
  font-family: Mitr-Light;
  color: #ebeb16;
  font-size: 20px;
  border-bottom: 1px solid #ebeb16;
  padding-bottom: 15px; 
}
.data3 h4 span{
  font-family: Mitr-Light;
  color: #9d9f9d;
  font-size: 16px; 
  float: right;
}
.data3 h5{
  font-family: Mitr-Light;
  color: #ebeb16;
  font-size: 20px; 
  padding-top: 5px;
  padding-left: 90px;
}
.data3 h3{
  font-family: Mitr-Regular;
  color: #5e615e;
  font-size: 24px; 
  float: right;
  margin-top: -30px;
}
.data3 p{ 
  background-color: #ebeb16;
  border-radius: 100%;
  position: absolute;
  left: 0;
  top: 0;
  margin-top: 20px;
  padding-top: 10px;
}
.data3 p img{ 
  margin: auto;
  display: block;
}
 
@keyframes anix { 
  from { 
    transform:scale(1); 
    opacity:0 
  } 
  to { 
    transform: scale(1); 
    opacity:1 
  } 
}
 
.menu-mo{ 
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 999;
  background-color: #fff;
    margin-top: -15px;
  height: 100vh;
  background-color: rgba(255,255,255,.0);
  display: none;  }
.showx{
  display: block !important;
  animation: anix .8s; 
  animation-fill-mode: both; 
}
.menu-mo ul{
  list-style: none;
  margin-left: 0px;
  padding-left: 0px;
  margin-bottom: 0px;
  width: 300px;
  border:1px solid #e3e3e3;
  border-bottom: none;

}
.menu-mo ul li{
  border-bottom: 1px solid #e8e8e8;
  background-image: linear-gradient(to right, #ffffff, #fbfbfb, #f6f6f6, #f2f2f2, #eeeeee);
}
.menu-mo ul li a{ 
  padding-left: 15px;
  display: block;
  padding: 15px;
  color: #07cfc7;
}
.menu-mo ul li a img{
  width: 20px; 
}


.fa-caret-down{ 
  display: block;
  color: #09a19b;
  font-size: 50px;
  position: absolute;
  margin-left: 260px;
  top: 0;
  margin-top: 15px;
  transform: rotate(90deg);
}


.btn-package{
  background-image: linear-gradient(to bottom, #13c0ba, #13c0ba, #13c0ba, #13c0ba, #13c0ba, #12beb8, #12bcb6, #11bab4, #0fb5af, #0db1ab, #0baca6, #09a8a2);
  padding: 14px 40px;
  font-family: Mitr-Regular;
  color: #fff; 
   
}
.btn-package:hover{ 
  color: #fff;
}
.btn-packa{
  background-color: #ffffff;
  border:1px solid #09A19B;
  padding: 14px 40px;
  font-family: Mitr-Regular;
  color: #09A19B; 
  border-radius: 12px;
}
.btn-packa:hover{ 
  background-color: #09A19B;
  color: #fff;
}
.package .col.body{
  padding: 15px 15px 30px 30px;
  /*border-bottom: 1px solid #dcdcdc;*/
}
.package .col.body h4{
  font-family: Mitr-Regular;
  color: #abacad; 
}
.package .col.body h4 span{
  float: right;
  color: #3b3c3d; 
  text-transform: uppercase;
}

.package .col.body h4 span.p1{
  color: #08a19c; 
  padding-bottom: 0px;
  line-height: 30px;
}

.package .col.f h3{
  font-family: Mitr-Bold;
  color: #08a19c;   
  text-transform: uppercase;
}
.package .col.f h3 span{
  float: right;
  color: #08a19c;
  text-transform: uppercase;
}


.package .col.body:nth-child(1) h4:before{ 
  background-image: url(../images/pg3-01.png); 
}

.package .col.body:nth-child(2) h4:before{ 
  background-image: url(../images/4g-01.png); 
}

.package .col.body:nth-child(3) h4:before{ 
  background-image: url(../images/call-01.png); 
}
.point .colx h3{
  color: #09a19b; 
  font-family: Mitr-Regular;
}
.point h5{  
  color: #09a19b;   
  font-family: Mitr-Regular;
}

.pay .pay1{
  font-family: Mitr-Regular;
  color: #09a19b; 
}
.pay .pay2{
  font-family: Mitr-Bold;
  color: #09a19b; 
}

.pay .pay1 h4{
  padding-left: 20px;
}

.pay .pay1 h5{
  color: #3B3C3D;
}

.payment .col-12 .py{  
  padding: 10px;
  color: #000000;
  font-size: 12px;
  border-radius: 12px;
  cursor: pointer;
  display: block;
  margin: auto;
}
.payment .col-12 .py div{
  font-family: Mitr-Regular;  
} 
.payment .col-12 .py.active,.payment .col-12 .py:hover{
  background-color: #09a19b; 
  color: #ffffff;
}
.payment .col-12 .py input{
  opacity: 0;
}
.pay-list h2{
  color: #000000;
  font-family: Mitr-Light;  
  border-bottom: 1px solid #DCDCDC;
  padding: 15px 15px 25px;  
}
.pay-list h2 span{
  float: right;
  color: #08A19C;
  font-family: Mitr-Medium; 
}
.pay-list h2.gb{
  color: #08A19C;
  font-family: Mitr-Regular;  
}
.pay-list h2.gb span{
  font-family: Mitr-Regular;  
  color: #08A19C;
}


.h1c{
  text-align: center;
  font-family: Mitr-SemiBold;
  color: #3B3C3D; 
}
.numberx h2{
  font-family: Mitr-Regular;  
  color: #3B3C3D;
  text-align: center;  
}
.numberx h4{
  font-family: Mitr-Light;
  color: #B6B6B6;
  text-align: center; 
} 
.numberx .inx{ 
  border: 2px solid #BCBCBC; 
  font-family: Mitr-Regular; 
  width: 100%; 
  text-align: center;
  letter-spacing: 10px;
  color: #3B3C3D;
  margin: auto;
  display: block;
}
.numberx .inx::placeholder { 
  letter-spacing: 0px !important;
  font-size: 20px;
}
.choose-number{
  text-align: center;
}
.choose-number a{
  text-align: center;
  color: #837E7E;
  font-family: Mitr-Light;
}
.choose-number a h5{
  font-size: 14px;
  margin-top: 15px;
}
.choose-number img{
  width: 65px;
  height: 65px;
}


.my-pack{
  background-color: #F7F7F7; 
  padding: 30px;
}
.my-pack h1{
  color: #4CB1B9;
  font-family: BalooThambi2-SemiBold;
  font-size: 36px;
}
.my-pack p{
  color: #4CB1B9;
  font-family: Mitr-Medium;   
  position: absolute;
  right: 0;
  top: 0;
  margin-top: 80px;
  margin-right: 15px;
  font-size: 32px;
}
.my-pack h2{
  color: #fff;
  font-family: Mitr-Regular;
}
.my-pack h3{
  color: #3B3C3D;
  font-family: Mitr-SemiBold;
  font-size: 40px;
}
.my-pack h4{
  color: #3B3C3D;
  font-family: Mitr-Regular;
  font-size: 22px;
}
.my-pack h5{
  color: #3B3C3D;
  font-family: Mitr-Regular;
  font-size: 18px;
}
.my-pack h5 img{
  height: 28px;  
  margin-right: 5px;
}
.my-pack h6 a{
  color: #4CB1B9;
  font-family: Mitr-Regular;
  font-size: 18px;
}
.get-pack{
  display: block;
  width: 100%;
  background-color: #4CB1B9;
  text-align: center;
  color: #fff;
  font-family: Mitr-Regular; 
}
.get-pack:hover{ 
  background-color: #09a19b; 
  color: #fff; 
}
.sel-num{
  background-color: #F7F7F7; 
}
.sel-num h2{
  color: #3B3C3D;  
  font-family: Mitr-Regular;
  text-align: center;
  font-size: 43px;
  padding-top: 30px;
  padding-bottom: 30px;
}
.sel-num>.row .nx{
  font-family: SukhumvitSet-Medium; 
  text-align: center;
  
  background-color: #FFFFFF;
  border-radius: 30px;
  margin-bottom: 30px;
  cursor: pointer;
}
.sel-num>.row .nx:hover ,.sel-num>.row .nx.active{ 
  background-color: #4CB1B9;
  color: #fff;
}
.box-gg{
  background-color: #fff; 
  padding-top: 20px;
  padding-bottom: 20px;
}

.box-gg h3{
  color: #4CB1B9;
  font-family: Mitr-SemiBold;
  font-size: 30px;
}
.box-gg h4{
  color: #3B3C3D;
  font-family: Mitr-Regular;
  font-size: 20px !important;
}
.box-gg h5{
  color: #3B3C3D;
  font-family: Mitr-Regular;
  font-size: 14px;
}
.box-gg h5 img{
  height: 25px;  
  margin-right: 5px;
}
.tab-foxm{
  background-color: #09a19b; 
}
.tab-foxm2{
  background-color: #09a19b; 
}

.status div{
  font-family: Mitr-Light;
  color: #fff; 
  text-align: center;
  opacity: .65;
} 
/*.status div:nth-child(1) img{
  width: 70px;
}
.status div:nth-child(2) img{
  width: 60px;
}
.status div:nth-child(3) img{
  width: 60px;
}
.status div:nth-child(4) img{
  width: 40px;
  margin-bottom: 25px;
}
*/
.status div h4{ 
  font-size: 20px;
  margin-top: 10px;  
}

.status div.active{ 
  font-size: 24px; 
  opacity: 1;  
}

.status div.active img{
  margin-top: 10px;
  height: 50px; 
}

.foxm-address{
  background-color: #fff; 
}
.foxm-pay{
  background-color: #fff; 
}

.foxm-address2{
  background-color: #fff; 
}

.foxm-address h1{
  color: #949494;
  text-align: center;
  font-family: Mitr-Regular; 
}
.foxm-address2 h1{
  color: #949494;
  text-align: center;
  font-family: Mitr-Regular; 
}
.foxm-address h3{
  color: #949494;
  text-align: center;
  font-family: Mitr-Regular; 
}
.foxm-address h5{
  color: #FF0000;
  text-align: center;
  font-family: Mitr-Medium; 
}
.foxm-address h4{
  color: #949494;
  text-align: center;
  font-family: Mitr-Medium;  
}
.foxm-address h6{
  color: #949494;
  text-align: center;
  font-family: Mitr-Light; 
}
.foxm-address h6 span{
  color: #09A19B;
  text-align: center;
  font-family: SukhumvitSet-Medium;
  padding-left: 30px;
}
.foxm-address2 h3{
  color: #949494; 
  font-family: Mitr-Regular; 
}
.foxm-address2 h5{
  color: #949494; 
  font-family: Mitr-Regular; 
  text-align: center;
}
.foxm-address2 h6{
  color: #949494; 
  font-family: Mitr-Regular; 
  text-align: center;
}
.foxm-address .form-group{
  margin-top: 25px;
}
.foxm-address2 .form-group{
  margin-top: 25px;
}
.foxm-address2 .form-group label{
  font-family: Mitr-Regular; 
  font-size: 24px;
  color: #B3B0AE;
}
.foxm-address .form-control{
  font-family: Mitr-Regular;
  border-radius: 20px;
  border: 1px solid #707070;
  height: 45px;
  color: #B3B0AE;
  font-size: 16px;
}
.foxm-address .form-control.password{
  border-radius: 5px;
  text-align: center;
  font-size: 18px;
}
.btn-sex{
  width: 100%; 
  text-align: center;
  font-family: Mitr-Regular;
  color: #B3B0AE;
  border-radius: 5px;
  border: 1px solid #707070;
  display: block; 
}
.btn-sex.active{
  background-color: #707070;
  color: #fff;
}
.sex-box input{
  opacity: 0;
}
.btn-sex{ 
  margin-top: -23px;
  cursor: pointer;
}
.btn-sex:hover{
  background-color: #707070;
  color: #fff !important;
}
.foxm-address2 .form-control{
  font-family: Mitr-Regular;
  border-radius: 5px;
  border: 1px solid #707070;
  height: 55px;
  color: #B3B0AE; 
}

.foxm-address .form-control::placeholder {
  font-family: Mitr-Regular;
  font-size: 18px;
  color: #B3B0AE;
}
.foxm-address2 .form-control::placeholder {
  font-family: Mitr-Regular;
  font-size: 18px;
  color: #B3B0AE;
}
.foxm-address .form-control.call{
  font-family: Mitr-Regular;
  border-radius: 20px;
  border: 1px solid #707070;
  height: 65px;
  color: #B3B0AE;
  font-size: 18px;
}
.iti.iti--allow-dropdown{
  width: 100%;
}
.iti__selected-flag{
  font-family: Mitr-Regular;
}

.btn-b{
  font-family: SukhumvitSet-Bold;
  border-radius: 10px;
  border: 2px solid #09A19B;
  background-color: #fff; 
  text-align: center;
  color: #09A19B;
  display: block;
  width: 100%;
  margin-top: 15px;
}
.btn-n{
  font-family: SukhumvitSet-Bold;
  border-radius: 10px;
  border: 2px solid #09A19B;
  background-color: #09A19B; 
  text-align: center;
  color: #fff;
  display: block;
  width: 100%;  
  margin-top: 15px;
}
.btn-b:hover{  
  color: #09A19B; 
}
.btn-n:hover{  
  color: #fff; 
}
.foxm-address2 .upload{
  background-color: #F6F6F6;
  padding: 10px; 
}
.foxm-address2 .file-upload{
  opacity: 0;
}
label.btn-upload{
  font-family: SukhumvitSet-Bold;
  border-radius: 15px;
  border: 2px solid #09A19B;
  background-color: #fff; 
  text-align: center;
  color: #09A19B;
  display: block;
  width: 100%;
  margin-top: 15px;
  padding: 10px;
  cursor: pointer;
}
label.btn-upload:hover{  
  color: #09A19B; 
}
.btn-upload img{  
  height: 30px; 
  margin-right: 30px;
}

.preview { 
  position: relative; 
  display: block;
  margin: auto; 
}
.preview > div {
  width: 100%;
  height: 100%; 
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.preview2 { 
  position: relative; 
  display: block;
  margin: auto; 
}
.preview2 > div {
  width: 100%;
  height: 100%; 
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}


.pay-tabs .nav-tabs {
  border-bottom: 2px solid #4CB1B9;
}
.pay-tabs .nav-tabs .nav-item{ 
  margin-bottom: -2px;
}
.pay-tabs .nav-tabs .nav-item .nav-link {  
  border-bottom: none;
  color: #4CB1B9;
  font-family: Mitr-Regular; 
}
.pay-tabs .nav-tabs .nav-link.active { 
  border: 2px solid #4CB1B9;
  border-bottom: none;
  border-radius: 0px;
}
 

.pay-tabs .tab-pane h3.line{
  font-family: Mitr-Medium; 
  color: #000000;
  padding-bottom: 15px;
  text-align: left;
  border-bottom: 1px solid #D3D3D3;
  margin-bottom: 15px;
}
.form-debit label{
  color: #5D5D5D; 
  font-family: Mitr-Regular;
  display: block;
}
.form-debit .form-control{
  border: 2px solid #DDDDDD;
  color: #5D5D5D; 
  font-family: Mitr-Regular; 
  border-radius: 6px;
}
.form-debit .form-control.expiry{ 
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
}
.form-debit .form-control.expiry::placeholder { 
  color: #DDDDDD;
}

.form-debit .form-control.cvv{  
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
}
p.visa{
  font-family: Mitr-Regular;
  color: #747474;
  font-size: 18px;
}
 
.pay-tabs .nav-tabs .nav-link label:before{ 
  content: "";
  background-image: url(../images/uncheck.png); 
  position: absolute; 
  background-repeat: no-repeat;
}

.pay-tabs .nav-tabs .nav-link.active label:before{ 
  content: "";
  background-image: url(../images/check.png); 
  position: absolute; 
  background-repeat: no-repeat;
}
.pay-tabs .nav-tabs .nav-link input{
  opacity: 0;
}
.summary .row1 div:nth-child(1){
  padding-top: 45px;
  padding-bottom: 30px;
  padding-left: 80px;
}
.summary .row1 div:nth-child(1){
  color: #ABACAD;
  font-family: SukhumvitSet-Medium;
  text-align: left; 
}

.summary .row1{
  border-bottom:1px solid #DCDCDC;
}
.summary .row1 div:nth-child(2){
  font-family: Mitr-Regular;
  color: #ABACAD;
  text-align: right;
}
.summary .row1 div:nth-child(2) p{ 
  font-size: 16px;
}

.summary .row1 div:nth-child(2) h4{ 
  font-size: 20px;
}

.summary .row1 div:nth-child(3){
  font-family: Mitr-Regular;
  color: #ABACAD;  
}



.summary .row2 div:nth-child(1){
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 80px;
  color: #ABACAD;
  font-family: SukhumvitSet-Medium;
}
.summary .row2 div:nth-child(1){ 
  font-size: 24px;
} 
.summary .row2{
  border-bottom:1px solid #DCDCDC;
}
.summary .row2 div:nth-child(2){ 
  text-align: right;
  color: #09a19b; 
}

 

.summary .row3{
  border-bottom:1px solid #DCDCDC;
}
.summary .row3 div:nth-child(2){
  font-family: SukhumvitSet-Medium;
  color: #08A19C; 
}


.summary .row4 div:nth-child(1){
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 80px;
}
.summary .row4 div:nth-child(1){
  color: #ABACAD;
  font-family: SukhumvitSet-Medium;
  text-align: left;
  font-size: 24px;
}
.summary .row4 div:nth-child(1) img{
  height: 40px;
  margin-right: 15px;
  position: absolute;
  left: 0;
  top: 0;
  margin-top: 30px;
  margin-left: 15px;
}
.summary .row4{
  border-bottom:1px solid #DCDCDC;
}
.summary .row4 div:nth-child(2){
  font-family: SukhumvitSet-Medium;
  color: #3B3C3D;
  text-align: right;
  padding: 30px;
  font-size: 30px;
}


.summary .row5 div:nth-child(1){
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 80px;
}
.summary .row5 div:nth-child(1){
  color: #ABACAD;
  font-family: SukhumvitSet-Medium;
  text-align: left;
  font-size: 24px;
}
.summary .row5 div:nth-child(1) img{
  height: 40px;
  margin-right: 15px;
  position: absolute;
  left: 0;
  top: 0;
  margin-top: 30px;
  margin-left: 15px;
}
.summary .row5{
  border-bottom:1px solid #DCDCDC;
}
.summary .row5 div:nth-child(2){
  font-family: SukhumvitSet-Medium;
  color: #3B3C3D;
  text-align: right;
  padding: 30px;
  font-size: 30px;
}


@media only screen and (max-width: 991px) { /* MOBILE */
  .incd{
    margin-top: -10px;
  }
  .sec2 h3{
    font-size: 18px;
  }
  .sec2 h6{
    font-size: 14px;
    padding: 0px 15px;
  }
  .sec2 img{
    width: 120px;
  }
  .lslide .col-12 .box-p{
    height: 360px;
    transform:scale(0.7); 
    margin-top: 50px; 
    margin-right: 100px;  
    transform-origin: 20% 40%;
    width: 290px;
  }
  .lslide.active .col-12 .box-p{
    width: 270px;
    height: 350px;
    margin-top: 45px;
    transform:scale(1);   
  }
  .box-p{ 
    max-width: 390px; 
    padding: 30px 15px;
  }
  #product .col-12{
    padding: 10px !important;
  }
  .box-p h2{ 
    font-size: 26px; 
  }
  .box-p h3{ 
    font-size: 20px; 
  }
  .box-p h6{ 
    font-size: 14px; 
  }
  .btn-x{ 
    font-size: 22px; 
  }
  .btn-x span{
    font-size: 12px; 
  }
  .box-p span.p{  
    font-size: 8px; 
    padding: 12px 10px; 
    margin-top: 15px;
    margin-right: 10px; 
  }
  .sec3 h3{
    font-size: 22px;
    text-align: center;
  }
  .sec3 h5{
    font-size: 16px;
    text-align: center;
  }
  header .col-12{
    padding-left: 0px;
    padding-right: 0px;
  }
  header .logo{
    width: 120px;
  }
  header a{ 
    padding-left: 5px;
    padding-right: 5px;
    font-size: 16px;   
  }
  header a.login{ 
    padding-left: 5px;
    padding-right: 15px;
    float: right; 
    font-size: 14px; 
  }
  header a.login:before{ 
    font-size: 16px;
    border-left: 2px solid #a2a2a2;
    padding-left: 30px;
  }
  .bt0{ 
    left: 26%;
    top: 65%; 
    font-size: 18px; 
    padding: 6px 50px;
  }
  .f-login h1{
    font-size: 24px;
  } 
  .f-login form{
    text-align: center;
  }
  .f-login form label{ 
    font-size: 14px;
    text-align: center;
  }
  .f-login form input{
    font-family: Mitr-Regular;  
    height: 40px;  
    border-radius: 8px;
    font-size: 16px;
    padding-left: 15px;
  }
  .bt-log{   
    font-size: 22px;
    width: 100%;
    text-align: center;
    padding: 8px;
    border-radius: 12px;
  }
  .f-login img{
    max-width: 220px;

  }
  .box2 h1{
    padding-left: 15px;
    font-size: 30px;
  }
  .box2{  
    padding: 30px 10px; 
  }
  .data1 p{
    width: 65px;
    height: 65px;  
    margin-left: 5px;
  }
  .data1 p img{
    width: 30px; 
    margin-top: 5px;
  }
  .data2 p{
    width: 65px;
    height: 65px;  
    margin-left: 5px;
  }
  .data2 p img{
    width: 30px; 
    margin-top: 5px; 
  }
  .data3 p{
    width: 65px;
    height: 65px;  
    margin-left: 5px;
  }
  .data3 p img{
    width: 30px; 
    margin-top: 5px;
  }
  .data1 h4{ 
    padding-left: 60px;
    font-size: 16px;
  }
  .data2 h4{ 
    padding-left: 60px;
    font-size: 16px;
  }
  .data3 h4{ 
    padding-left: 60px;
    font-size: 16px;
  }
  .data1 h4 span{ 
    font-size: 12px;
  }
  .data2 h4 span{ 
    font-size: 12px;
  }
  .data3 h4 span{ 
    font-size: 12px;
  }
  .data1 h5{ 
    padding-left: 60px;
    font-size: 14px;
  }
  .data2 h5{ 
    padding-left: 60px;
    font-size: 14px;
  }
  .data3 h5{ 
    padding-left: 60px;
    font-size: 14px;
  }
  .data1 h3{ 
    font-size: 16px;
  }
  .data2 h3{ 
    font-size: 16px;
  }
  .data3 h3{ 
    font-size: 16px;
  }
  .menu-right .logout:before{
    content: "\e80f";
    font-family: Linearicons-Free;
    padding-right: 5px; 
  }
  .menu-right{
    position: absolute;
    right: 0;
    top: 0;    
    margin-right: 15px;
  }
  .menu-right .logout{  
    margin-top: 5px;
  }
  .fa-bars{
    color: #09a19b;
    font-size: 30px;
    padding-right: 15px;
    padding-left: 15px; 
    border-right: 2px solid #cbcbcb; 
  }
  body.home header{
    height: 120px; 
  } 
  .user-mo{
    background-color: #09a19b;    
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
  }
  .user-mo a{
    display: block;
    padding: 10px;
    color: #fff;
    font-size: 13px;
    text-align: center;
  }
  .rvb{
    border-right: 1px solid #fff;
  }
  .btn-package{  
    font-size: 20px;    
    border-radius: 8px;
    display: block;
  }
  .btn-packa{  
    font-size: 20px;  
    display: block;  
  }
  .package .col.body h4:before{
    content: ""; 
    background-repeat: no-repeat;  
    width: 40px;
    height: 40px;
    background-size: 40px auto;
    position: absolute; 
    margin-left: -50px;
  }
  .package .col.body h4{ 
    padding-left: 15px; 
    height: 30px;
    font-size: 16px;
  }
  .package .col.body h4 span{ 
    font-size: 20px; 
  }
  .package .col.body h4 span.p1{ 
    font-size: 22px; 
  }
  .package .col.body:nth-child(1) h4{ 
    line-height: 45px;
  }
  .package .col.body:nth-child(2) h4 span{ 
    line-height: 15px;
  }
  .package .col.body:nth-child(3) h4{ 
    line-height: 45px;
  }
  .package .col.f h3{  
    font-size: 24px; 
  }
  .package .col.f{
    text-align: center;
    padding: 15px 5px 30px 5px; 
  }

  .point .colx p.stx{ 
    background-color: #ebeb16;
    width: 50px;
    height: 50px;
    border-radius: 100%; 
    float: left;
    margin-top: -10px; 
    margin-left: 50px;
  }
  .point .colx p.stx img{ 
    width: 35px;
    margin: auto;
    display: block;
    padding-top: 7px;
  }
  .point .colx h3{   
  }
  .point .colx h3 span{  
    text-align: center;
    color: #5e615e;
    padding-left: 25px;
  }
  .f-login h1:before{
    content: ""; 
    background-repeat: no-repeat;  
    width: 18px;
    height: 21px;
    background-size: 18px 21px;
    position: absolute;
    margin-left: -25px;
    margin-top: 2px;
    background-image: url(../images/lock-w.png); 
  }

  .pay .pay2{
    font-size: 53px; 
    text-align: center;
  }
  .pay .pay1 p{
    font-size: 44px;
    text-align: right;
    margin-top: -10px;
  }
  .pay .pay1 h5 img{
    width: 20px;
  }
  .pay .pay1 h2{
    font-size: 24px;
  }
  .pay .pay1 h4{
    font-size: 18px;
  }
  .pay .pay1 h5{
    font-size: 14px;
  }
  .pay .pay2{
    font-size: 42px;
    line-height: 100px;
  } 

  .payment .col-12 .py{  
    border: 2px solid #DDDDDD;
    width: 100%;
    margin-bottom: 15px; 
  }
  .payment .row .col-12 .py img{ 
    height: 50px; 
  }
  .payment .col-12 .py div{ 
    position: absolute;
    top: 0;
    left: 0; 
    margin-top: 27px;
    margin-left: 90px;
  }
  .payment .col-12 .py div p{ 
    text-align: left; 
  }
  .payment .col-12 .py div{ 
    font-size: 14px;  
  } 

  .pay-list h2{ 
    font-size: 27px;
  }
  .pay-list h2 span{ 
    font-size: 30px;
  }

  .sel-num>.row .nx{ 
    font-size: 19px; 
    height: 45px;
    padding-top: 10px;
  }
  .h1c{ 
    font-size: 41px;
  }
  .numberx h2{ 
    font-size: 24px;
  }
  .numberx h4{ 
    font-size: 14px;
  } 
  .numberx .inx{
    height: 60px; 
    font-size: 30px; 
  }
  .box-gg{
    display: block;
  }
  .get-pack{ 
    padding: 10px;
    font-size:24px;
    margin-top: 25px;
  }
  .btn-b{ 
    font-size: 18px;  
    padding: 10px; 
  }
  .btn-n{ 
    font-size: 18px;
    padding: 10px; 
  }
  .status div h4{ 
    font-size: 10px; 
  }
  .status img{
    height: 25px; 
  }
  .status div.active{  
    transform:scale(1); 
    margin-top: -15px;
  }
  .tab-foxm{ 
    height: 180px;
  }
  .tab-foxm2{ 
    height: 150px;
  }
  .foxm-address{ 
    margin-top: -50px;
  }
  .foxm-address2{ 
    margin-top: -50px;
  }
  .foxm-address2  select.form-control{
    padding-left: 5px !important;
    padding-right: 0px !important;
    font-size: 12px !important;
  }
  .foxm-pay{ 
    margin-top: -50px;
  }
  .foxm-address h1{ 
    font-size: 26px;
  }
  .foxm-address h3{ 
    font-size: 20px;
  }
  .foxm-address h5{ 
    font-size: 15px;
  }
  .foxm-address h4{ 
    font-size: 14px;
  }
  .foxm-address h6{ 
    font-size: 14px;
  }
  .foxm-address h6 span{ 
    font-size: 22px;
  }
  .foxm-address2 h3{ 
    font-size: 20px;
  }
  .foxm-address2 h1{ 
    font-size: 26px;
  }
  .foxm-address2 h5{
    font-size: 18px;
  }
  .foxm-address2 h6{
    font-size: 30px;
    margin-top: 15px;
  }
  .btn-upload{
    font-size: 16px;
  }
  .foxm-address2 .upload{ 
    border: none;
  }
  .preview {
    width: 100%;
    height: 188px; 
  } 
  .preview2 {
    width: 100%;
    height: 188px; 
  }

  .pay-tabs .nav-tabs .nav-item{
    width: 50%; 
  }
  .pay-tabs{
    padding: 15px;
  }
  .pay-tabs .nav-tabs .nav-item .nav-link {   
    font-size: 16px;  
    padding-left: 15px;
  }
  .pay-tabs .nav-tabs .nav-link label:before{  
    margin-left: -30px;
    width: 22px;
    height: 22px;
    background-size: 22px 22px; 
  }
  .pay-tabs .tab-pane h3.line{ 
    font-size: 18px; 
  }
  .pay-tabs .tab-pane{
    padding: 15px;
  }
  .form-debit label{ 
    font-size: 16px; 
  }
  .form-debit .form-control{ 
    font-size: 16px; 
    height: 45px; 
  }
  .form-debit .form-control.expiry{
    width: 50%; 
    display: inline-block;
    float: left;
  } 
  .form-debit .form-control.cvv{
    width: 100%; 
  }

  h1.secsc{
    font-family: Mitr-Regular;
    color: #fff;
    font-size: 28px;
    margin-top: 15px;
  }
  h1.hl{
    font-family: Mitr-Regular;
    color: #09a19b;
    font-size: 28px;
  }

  .summary .row1 div:nth-child(1) img{
    height: 30px !important;
    margin-right: 15px !important;
    position: absolute !important;
    left: 0 !important;
    top: 0 !important;
    margin-top: 15px !important;
    margin-left: 15px !important;
  }
  .summary .row1 div:nth-child(3) p{ 
    font-size: 12px !important;
    text-align: left !important;
  }

  .summary .row1 div:nth-child(3) h4{ 
    font-size: 18px !important;
    text-align: center !important;
  }
  .summary .row1 div:nth-child(1){
    padding-top: 15px !important;
    padding-bottom: 15px !important;
    padding-left: 45px !important;
  }
  .summary .row1 div:nth-child(1){ 
    font-size: 20px !important;
  }
  .summary .row2 div:nth-child(1){
    padding-top: 15px !important;
    padding-bottom: 15px !important;
    padding-left: 45px !important;
  }
  .summary .row2 div:nth-child(1){  
    font-size: 20px !important;
  }
  .summary .row2 div:nth-child(1) img{
    height: 30px !important;
    margin-right: 15px !important;
    position: absolute !important;
    left: 0 !important;
    top: 0 !important;
    margin-top: 15px !important;
    margin-left: 15px !important;
  } 
  .summary .row2 div:nth-child(2){ 
    text-align: center !important;
    padding: 15px !important;
    padding-top: 0px !important;
    font-size: 30px !important;
  }

  .summary .row3 div:nth-child(1){
    color: #ABACAD !important;
    font-family: SukhumvitSet-Medium !important; 
  } 
  .summary .row3 div:nth-child(1){
    padding-top: 15px !important;
    padding-bottom: 15px !important; 
    padding-left: 45px !important;
  } 
  .summary .row3 div:nth-child(1) img.r3{
    height: 30px !important;
    margin-right: 15px !important;
    position: absolute !important;
    left: 0 !important;
    top: 0 !important;
    margin-top: 15px !important;
    margin-left: 15px !important;
  } 
  .summary .row3 div:nth-child(2){  
    padding: 15px !important;
    padding-top: 0px !important;
    font-size: 10px !important;
  }
  .inb .d1 span{ 
    font-family: SukhumvitSet-Medium !important;
    color: #08A19C !important;  
    font-size: 50px !important;  
    text-transform: uppercase !important;
    position: absolute !important;
    top: 0 !important;
    right: 0 !important;
    margin-right: 30px !important;
    margin-top: -5px !important;
  }
  .inb .d2 {
    font-size: 11px !important !important;
    text-align: left !important;
    float: left !important;
    color: #ABACAD !important !important;
    margin-left: -25px !important;
  }
  .inb .d2 img{
    position: relative !important; 
    height: 25px !important;
  }
  .summary .row6{
    border-bottom:1px solid #DCDCDC !important;
  }
  .summary .row6 div:nth-child(1){
    padding-top: 30px !important;
    padding-bottom: 15px !important; 
  }
  .summary .row6 div:nth-child(1){
    color: #ABACAD !important;
    font-family: SukhumvitSet-Medium !important;
    text-align: center !important;
    font-size: 24px !important;
  }  
  .summary .row6 div:nth-child(2){
    font-family: SukhumvitSet-Medium !important;   
    padding: 0px !important;
    padding-bottom: 15px !important; 
    margin-top: -15px;
  }

  .summary .row6 div:nth-child(2) h3{ 
    font-size: 36px !important;  
    text-align: center !important;
    margin-bottom: 0px !important;
    color: #09A19B !important;
  }

  .summary .row6 div:nth-child(2) h6{ 
    font-size: 16px !important;
    text-align: center !important;
    color: #09A19B !important;
  }

  .summary .row7 div:nth-child(1){
    padding-top: 15px !important; 
    color: #ABACAD !important;
    font-family: SukhumvitSet-Medium !important;
    text-align: center !important;
    font-size: 24px !important;
    padding-bottom: 0px !important;
  }  
  .summary .row7 div:nth-child(2){
    font-family: SukhumvitSet-Medium !important;  
    
    font-size: 48px !important; 
    color: #E8000B !important;
    text-align: center !important;
  }    
  .summary .row3 div:nth-child(2) { 
    color: #3B3C3D !important;
  }
  .btn-sex{ 
    height: 50px !important; 
    padding: 13px !important;
  } 
  .foxm-address2 .form-control{ 
    height: 50px !important; 
  }

}
@media only screen and (min-width: 992px) { /* PC */
  .incd{
    margin-top: -10px;
  }
  .box-p{ 
    max-width: 390px; 
    padding: 50px 30px;
  }
  ul#product{
    list-style: none;    
  }
  #product li{
    width: 33%;
    display: inline-block;
  }
  .box-p h2{ 
    font-size: 33px; 
  }
  .btn-x{ 
    font-size: 30px; 
  }
  .btn-x span{
    font-size: 16px; 
  }
  .box-p span.p{  
    font-size: 9px; 
    padding: 12px 6px; 
    margin-top: 10px;
    margin-right: 10px; 
  }
  header a{ 
    padding-left: 15px;
    padding-right: 15px;
    font-size: 22px;
  }
  header a.login{ 
    padding-left: 15px;
    padding-right: 15px;
    float: right; 
  }
  header a.login:before{ 
    font-size: 20px;
  }
  .bt0{ 
    left: 25%;
    top: 80%; 
    font-size: 28px; 
    padding: 8px 70px;
  }
  .f-login form label{ 
    font-size: 20px;
    padding-left: 30px; 
  }
  .f-login form input{ 
    height: 60px;  
    border-radius: 30px;
    font-size: 18px;
    padding-left: 45px;
  }
  .bt-log{   
    font-size: 30px;
    width: 220px;
    padding: 12px;
    border-radius: 30px;
  }
  .box2{  
    padding: 30px; 
  }
  
  

  .btn-package{  
    font-size: 30px;
    border-radius: 30px; 
    display: block;
    margin: auto;
    width: 372px; 
  }
  .btn-packa{  
    font-size: 30px;  
    display: block;
    margin: auto;
    width: 372px; 
  }
  .package .col.body h4:before{
    content: ""; 
    background-repeat: no-repeat;  
    width: 60px;
    height: 60px;
    background-size: 60px auto;
    position: absolute; 
    margin-left: -80px;
  }
  .package .col.body h4{ 
    padding-left: 70px;
    line-height: 50px;
    height: 40px;
  }
  .package .col.body h4 span{ 
    font-size: 36px; 
  }
  .package .col.body h4 span.p1{ 
    font-size: 48px; 
  }
  .package .col.f h3{  
    font-size: 48px; 
  }
  .package .col.f{
    padding: 15px 15px 30px 30px; 
  }

  .point{
    min-height: 400px;
  }
  .point .colx p.stx{ 
    background-color: #ebeb16;
    width: 50px;
    height: 50px;
    border-radius: 100%; 
    float: left;
    margin-top: -10px;
    margin-right: 25px;
  }
  .point .colx p.stx img{ 
    width: 35px;
    margin: auto;
    display: block;
    padding-top: 7px;
  }
  .point .colx h3:before{
    content: ""; 
    background-repeat: no-repeat;  
    width: 60px;
    height: 60px;
    background-size: 60px auto;
    position: absolute;  
    margin-left: -60px;
    margin-top: -15px;
  }
  .point .colx h3:before{ 
    background-image: url(../images/gift-01.png); 
  }
  .point .colx h3 span{ 
    float: right;
    color: #5e615e;
    padding-left: 25px;
  }

  header a.login:before{ 
    background-image: url(../images/lock.png); 
  }
  .f-login h1:before{
    content: ""; 
    background-repeat: no-repeat;  
    width: 35px;
    height: 42px;
    background-size: 35px 42px;
    position: absolute;
    margin-left: -45px;
    margin-top: 2px;
    background-image: url(../images/lock-w.png); 
  }

  .pay .pay2{
    font-size: 53px;
    text-align: right;  
    line-height: 180px;
  }
  .pay .pay1 p{
    text-align: center;
    font-size: 80px;;
  }
  .pay .pay1 h5 img{
    width: 40px;
  }

  .payment .row .col-12:nth-child(1) .py img{
    width: 95px;
    display: block;
    margin: auto;
  }
  .payment .row .col-12:nth-child(2) .py img{
    width: 75px;
    display: block;
    margin: auto;
  }
  .payment .row .col-12:nth-child(3) .py img{
    width: 87px;
    display: block;
    margin: auto;
  }
  .payment .row .col-12:nth-child(4) .py img{
    width: 78px;
    display: block;
    margin: auto;
  }
  .payment .row .col-12:nth-child(5) .py img{
    width: 78px;
    display: block;
    margin: auto;
  }
  .payment .col-12 .py{ 
    border: 2px solid #DDDDDD;  
    width: 153px; 
    height: 138px;
    text-align: center;
  }
  .payment .col-12 .py div{ 
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    margin-bottom: 10px;
  }
  .payment .col-12 .py div p{
    width: 100%;
    display: block;
    margin: auto;
    text-align: center; 
  }
  .payment .col-12 .py div{ 
    font-size: 13px;  
  }  

  .pay-list h2{ 
    font-size: 37px;
  }
  .pay-list h2 span{ 
    font-size: 40px;
  }
  .sel-num>.row .nx{ 
    font-size: 22px; 
    height: 65px;
    padding-top: 18px;
  }
  .h1c{ 
    font-size: 50px;
  }
  .numberx h2{ 
    font-size: 24px;
  }
  .numberx h4{ 
    font-size: 14px;
  } 
  .numberx .inx{
    height: 80px; 
    font-size: 40px; 
  }
  .get-pack{ 
    padding: 20px;
    font-size:30px;
  }
  .btn-b{ 
    font-size: 22px;  
    padding: 8px; 
  }
  .btn-n{ 
    font-size: 20px;
    padding: 8px; 
  }
  .status div{ 
    font-size: 30px; 
  }
  .status img{
    height: 50px; 
  }
  .status div.active{  
    transform:scale(1.3); 
  }
  .tab-foxm{ 
    height: 280px;
  }
  .tab-foxm2{ 
    height: 220px;
  }
  .foxm-address{ 
    margin-top: -100px;
  }
  .foxm-address2{ 
    margin-top: -100px;
  }
  .foxm-pay{ 
    margin-top: -100px;
  }
  .foxm-address h1{
    margin-top: 15px;
    font-size: 50px;
  }
  .foxm-address h3{ 
    font-size: 36px;
  }
  .foxm-address h5{ 
    font-size: 22px;
  }
  .foxm-address h4{ 
    font-size: 22px;
  }
  .foxm-address h6{ 
    font-size: 22px;
  }
  .foxm-address h6 span{ 
    font-size: 30px;
  }
  .foxm-address2 h3{ 
    font-size: 36px;
  }
  .foxm-address2 h1{
    margin-top: 15px;
    font-size: 40px;
    line-height: 55px;
  }
  .foxm-address2 h5{
    font-size: 18px;
  }
  .foxm-address2 h6{
    font-size: 16px;
  }
  .btn-upload{
    font-size: 30px;
  }
  .foxm-address2 .upload{ 
    border: 1px solid #707070;
  }
  
  .pay-tabs .nav-tabs .nav-item{
    min-width: 220px; 
  }
  .pay-tabs{
    padding: 60px;
  }
  .pay-tabs .nav-tabs .nav-item .nav-link {   
    font-size: 20px;  
    padding-left: 45px;
  }
  .pay-tabs .nav-tabs .nav-link label:before{  
    margin-left: -50px;
    width: 32px;
    height: 32px;
    background-size: 32px 32px; 
  }
  .pay-tabs .tab-pane h3.line{ 
    font-size: 24px; 
  }
  .pay-tabs .tab-pane{
    padding: 30px;
  }
  .form-debit label{ 
    font-size: 20px; 
  }
  .form-debit .form-control{ 
    font-size: 20px; 
    height: 55px; 
  }
  .form-debit .form-control.expiry{
    width: 25%; 
  } 
  .form-debit .form-control.cvv{
    width: 50%; 
  }
  h1.secsc{
    font-family: Mitr-Regular;
    color: #fff;
    font-size: 38px;

  }
  h1.hl{
    font-family: Mitr-Regular;
    color: #09a19b;
    font-size: 38px;
  }
      height: 40px;
    margin-right: 15px;
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 45px;
    margin-left: 15px;
  } 
  .summary .row1 div:nth-child(1) img{
    height: 40px;
    margin-right: 15px;
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 45px;
    margin-left: 15px;
  }
  .summary .row1 div:nth-child(3) p{ 
    font-size: 14px;
    text-align: left;
  }

  .summary .row1 div:nth-child(3) h4{ 
    font-size: 20px;
    text-align: left;
  }
  .summary .row1 div:nth-child(1){
    padding-top: 45px;
    padding-bottom: 30px;
    padding-left: 80px;
  }
  .summary .row1 div:nth-child(1){ 
    font-size: 24px;
  }

  .summary .row2 div:nth-child(1){
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 80px;
  }
  .summary .row2 div:nth-child(1){  
    font-size: 24px;
  }
  .summary .row2 div:nth-child(1) img{
    height: 40px;
    margin-right: 15px;
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 30px;
    margin-left: 20px;
  } 
  .summary .row2 div:nth-child(2){ 
    text-align: right;
    padding: 30px;
    font-size: 40px;
  }
  .summary .row3 div:nth-child(1){
    padding-top: 30px;
    padding-bottom: 20px;
    padding-left: 80px;
  }
  .summary .row3 div:nth-child(1){ 
    text-align: left;
    font-size: 24px;
  }
  .summary .row3 div:nth-child(1) img.r3{
    height: 40px;
    margin-right: 15px;
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 30px;
    margin-left: 15px;
  } 
  .summary .row3 div:nth-child(2){ 
    text-align: right;
    padding: 15px;
    font-size: 40px;
    padding-right: 30px;
  }
  .summary .row3 div:nth-child(1){
    color: #ABACAD;
    font-family: SukhumvitSet-Medium; 
  } 
  .summary .row6 div:nth-child(1){
    padding-top: 30px;
    padding-bottom: 15px; 
  }
  .summary .row6 div:nth-child(1){
    color: #ABACAD;
    font-family: SukhumvitSet-Medium;
    text-align: left;
    font-size: 36px;
  }  
  .summary .row6 div:nth-child(2){
    font-family: SukhumvitSet-Medium;  
    padding: 30px; 
    padding-bottom: 15px;
    font-size: 30px; 
  }

  .summary .row6 div:nth-child(2) h3{ 
    font-size: 36px;  
    text-align: right;
    margin-bottom: 0px;
    color: #09A19B;
  }

  .summary .row6 div:nth-child(2) h6{ 
    font-size: 22px;
    text-align: right;
    color: #09A19B;
  }

  .summary .row7 div:nth-child(1){
    padding-top: 0px;
    padding-bottom: 30px; 
  }
  .summary .row7 div:nth-child(1){
    color: #ABACAD;
    font-family: SukhumvitSet-Medium;
    text-align: left;
    font-size: 36px;
  }  
  .summary .row7 div:nth-child(2){
    font-family: SukhumvitSet-Medium;  
    padding: 30px; 
    padding-top: 0px;
    font-size: 30px; 
    color: #E8000B;
    text-align: right;
  }
  .btn-sex{ 
    height: 55px; 
    padding: 15px;
  } 
  .foxm-address2 .form-control{ 
    height: 55px; 
  }

}




@media only screen and (min-width: 500px) {
  .preview {
    width: 80%;
    height: 200px; 
  } 
  .preview2 {
    width: 80%;
    height: 200px; 
  }
}
@media only screen and (min-width: 650px) {
  .preview {
    width: 80%;
    height: 250px; 
  } 
  .preview2 {
    width: 80%;
    height: 250px; 
  }
}

@media only screen and (min-width: 800px) {
  .preview {
    width: 80%;
    height: 330px; 
  } 
  .preview2 {
    width: 80%;
    height: 330px; 
  }
}
 
  
@media only screen and (min-width: 992px) {
  .preview {
    width: 80%;
    height: 400px; 
  } 
  .preview2 {
    width: 80%;
    height: 400px; 
  }
}
@media only screen and (min-width: 1200px) {
  .preview {
    width: 80%;
    height: 180px; 
  } 
  .preview2 {
    width: 80%;
    height: 180px; 
  }
  .data1 p{
    width: 60px;
    height: 60px; 
    margin-left: 10px;
  }
  .data1 p img{
    width: 25px; 
    margin-top: 5px;
  }
  .data2 p{
    width: 60px;
    height: 60px;  
    margin-left: 10px;
  }
  .data2 p img{
    width: 25px; 
    margin-top: 7px;
  }
  .data3 p{
    width: 60px;
    height: 60px;  
    margin-left: 10px;
  }
  .data3 p img{
    width: 35px; 
    margin-top: 4px;
  }
  .data1 h4{ 
    padding-left: 65px;
    font-size: 16px;
  }
  .data1 h3{  
    font-size: 18px;
  }
  .data1 h4 span {
    font-size: 12px;
  }
  .data2 h4{ 
    padding-left: 65px;
  }
  .data3 h4{ 
    padding-left: 65px;
  }
  .data1 h5{ 
    padding-left: 65px;
    font-size: 16px;
  }
}
@media only screen and (min-width: 1400px) {
  .preview {
    width: 80%;
    height: 200px; 
  } 
  .preview2 {
    width: 80%;
    height: 200px; 
  }
}
@media only screen and (min-width: 1700px) {
  .preview {
    width: 80%;
    height: 280px; 
  } 
  .preview2 {
    width: 80%;
    height: 280px; 
  }
}

@media only screen and (min-width: 1900px) {
  .preview {
    width: 80%;
    height: 300px; 
  } 
  .preview2 {
    width: 80%;
    height: 300px; 
  }
  .data1 p{
    width: 80px;
    height: 80px; 
    margin-left: 15px;
  }
  .data1 p img{
    width: 35px; 
    margin-top: 10px;
  }
  .data2 p{
    width: 80px;
    height: 80px;  
    margin-left: 15px;
  }
  .data2 p img{
    width: 35px; 
    margin-top: 10px;
  }
  .data3 p{
    width: 80px;
    height: 80px;  
    margin-left: 15px;
  }
  .data3 p img{
    width: 45px; 
    margin-top: 10px;
  }
  .data1 h4{ 
    padding-left: 90px;
  }
  .data2 h4{ 
    padding-left: 90px;
  }
  .data3 h4{ 
    padding-left: 90px;
  }
  .data1 h5{ 
    padding-left: 90px;

  }
  .data1 h3{  
    font-size: 24px !important;
  }
  .data1 h4 span {
    font-size: 20px !important;
  }
}
 
@media only screen and (width: 1024px) { /*IPAD PRO*/
  .preview {
    width: 80%;
    height: 350px; 
  } 
  .preview2 {
    width: 80%;
    height: 350px; 
  }
  .data1 p{
    width: 80px;
    height: 80px; 
    margin-left: 15px;
  }
  .data1 p img{
    width: 35px; 
    margin-top: 10px;
  }
  .data2 p{
    width: 80px;
    height: 80px;  
    margin-left: 15px;
  }
  .data2 p img{
    width: 35px; 
    margin-top: 10px;
  }
  .data3 p{
    width: 80px;
    height: 80px;  
    margin-left: 15px;
  }
  .data3 p img{
    width: 45px; 
    margin-top: 10px;
  }
  .data1 h4{ 
    padding-left: 90px;
  }
  .data2 h4{ 
    padding-left: 90px;
  }
  .data3 h4{ 
    padding-left: 90px;
  }
  .data1 h5{ 
    padding-left: 90px;
  }
}
@media only screen and (width: 768px) {
  .preview {
    width: 80%;
    height: 320px; 
  } 
  .preview2 {
    width: 80%;
    height: 320px; 
  }
}




/*
09a19b
707070
348784
*/


