@font-face{
  font-family: Kanit-Bold;
  src: url(../fonts/Kanit-Bold.ttf);
  font-style: normal;
  font-variant:initial;
} 
@font-face{
  font-family: Kanit-Light;
  src: url(../fonts/Kanit-Light.ttf);
  font-style: normal;
  font-variant:initial;
} 
@font-face{
  font-family: Kanit-Medium;
  src: url(../fonts/Kanit-Medium.ttf);
  font-style: normal;
  font-variant:initial;
} 
@font-face{
  font-family: Kanit-Regular;
  src: url(../fonts/Kanit-Regular.ttf);
  font-style: normal;
  font-variant:initial;
} 
@font-face{
  font-family: Linearicons-Free;
  src: url(../fonts/Linearicons-Free.ttf);
  font-style: normal;
  font-variant:initial;
} 


/*html {
  scroll-behavior: smooth;
}*/
.none-pad{
  padding: 0px 0px 0px 0px !important;
} 
.none-pad-r{
  padding: 0px 5px 0px 0px !important;
} 
.none-right{
  margin-right: -15px;
} 
.none-left{
  margin-left: -15px;
} 

.dropdown:hover>.dropdown-menu {
  display: block;
}
 
.navbar-toggler-left .fa-bars{
  color: #fff !important;
}
@media only screen and (max-width: 991px) { /* MOBILE */
  .mb-x{
    display: none !important;
  }
  .none-xs{
    padding: 0px 0px 0px 0px !important;
  }   
}
@media only screen and (min-width: 992px) { /* PC */
  .pc-x{
    display: none !important;
  }  
}

 
a:hover{
  text-decoration: none;
}
/*.banner {
  height: 100vh;
}*/ 

 
header{
  background-color: #fff;
  padding: 15px;
  font-family: Kanit-Regular;
}

header .logo{
  width: 120px;
  float: left;
}
.menu-right .logout{
  color: #ff000a;
  font-family: Kanit-Regular;
}
.menu-right ul{
  list-style: none;
}
.menu-right ul li{
  display: inline-block;
}
.usx{
  border-right: 2px solid #a2a2a2;
}
header a{
  color: #09a19b;  
}
header a:hover{
  color: #348784;
}
header a.login{
  font-family: Kanit-Regular;
}
header a.login:before{
  content: "\e80f";
  font-family: Linearicons-Free;
  padding-right: 5px; 
}
.sec2{
  background-color: #09a19b;
  text-align: center;
}
.sec2 img{
  width: 180px;
}
.sec2 h3{
  font-family: Kanit-Bold;
  color: #fff;
}
.sec2 h6{
  font-family: Kanit-Light;
  color: #fff;
  line-height: 25px;
}
.sec3{
  background-color: #f8f8f8; 
}
.sec3 h3{
  font-family: Kanit-Bold;
  color: #707070;
  line-height: 40px;
}
.sec3 h5{
  font-family: Kanit-Light;
  color: #707070;
  line-height: 25px;
  line-height: 30px;
}
.sec3 {
  background-color: #fff;
}
.sec4{
  background-image: linear-gradient(to bottom, #ffffff, #fdfafd, #fff3f8, #ffeeee, #ffe9e1, #fbded5, #f8d2c9, #f4c7bf, #e5b2be, #c9a2c2, #a097c4, #698fbc);
}
.box-p{
  background-color: #fff;
  border-radius: 30px;  
  text-align: center;
  border: 2px solid #e4e3df;
  margin-top: 60px;
  -webkit-box-shadow: 10px 10px 20px -13px rgba(99,95,99,1);
  -moz-box-shadow: 10px 10px 20px -13px rgba(99,95,99,1);
  box-shadow: 10px 10px 20px -13px rgba(99,95,99,1); 
  margin-bottom: 15px;
}
.box-p:hover{
  -webkit-box-shadow: 10px 10px 20px -8px rgba(99,95,99,1);
  -moz-box-shadow: 10px 10px 20px -8px rgba(99,95,99,1);
  box-shadow: 10px 10px 20px -8px rgba(99,95,99,1);
}
.box-p img{
  height: 55px;
}

.box-p h2{
  color: #09a19b;
  font-family: Kanit-Bold; 
  z-index: 999;
  text-transform: uppercase;
}
.box-p h3{
  color: #3b3c3d;
  font-family: Kanit-Bold;
  text-transform: uppercase;
}
.box-p h6{
  color: #abacad;
  font-family: Kanit-Light;
}

.btn-x{
  display: block;
  width: 100%;
  font-family: Kanit-Bold;
  background-color: #08a19c;
  border-radius:30px;
  color: #fff;
  padding: 8px; 
  border: 1px solid #f37e21;
}
.btn-x span{ 
  font-family: Kanit-Regular;
}
.box-p span.p{ 
  background-image: linear-gradient(to bottom, #f86464, #fa6e6e, #fc7777, #fd8181, #fe8a8a); 
  color: #fff; 
  text-align:  center;
  font-family: Kanit-Regular;
  position: absolute;
  right: 0;
  top: 0; 
  border-radius: 100%;
  /*z-index: -1;*/
}
.btn-x:hover{
  color: #fff;
  background-color: #348784;
}

footer{
  background-color: #4f4f4f;
  min-height: 70px;
}
body.login{
  min-height: 100vh;
  background-color: #09a19b; 
}
.f-login{
    
}
.f-login h1{
  color: #fff;
  font-family: Kanit-Regular;  
  text-align: center;
}
.f-login h1:before{
  content: "\e80f";
  font-family: Linearicons-Free;
  padding-right: 5px; 
}
.f-login form label{
  color: #fff;
  font-family: Kanit-Regular;  
}
.f-login form input{
  font-family: Kanit-Regular;  
  width: 100%;
  color: #000;
  border: none; 
}
input:focus, textarea:focus, select:focus{
  outline: none;
}

.bt-log{  
  color: #fff;  
  text-align: center;  
  font-family: Kanit-Regular;  
  border: none;
  background-color: #19f0e7; 
}

.bt0{
  position: absolute; 
  transform: translate(-50%, -50%);
  background-image: linear-gradient(to bottom, #09a19b, #1d9a95, #28938f, #2f8d89, #358683);
  border-radius: 50px;
  color: #fff;
  font-family: Kanit-Bold;  
  border: 4px solid #fff;
}
.bt0:hover{ 
  color: #fff; 
  background-color: #09a19b;
}
body.home{
  min-height: 100vh;
  background-color: #f2f2f2; 
}
.box1{  
  padding-left: 0px;
}
.box1 ul{
  list-style: none;
  padding-left: 0px;
  margin-left: 0px;
  border-right: 2px solid #e8e8e8;
}
.box1 ul li{  
  background-image: linear-gradient(to right, #ffffff, #fbfbfb, #f6f6f6, #f2f2f2, #eeeeee);
  border-bottom: 2px solid #e8e8e8;
}
.box1 ul li.active{
  background-image: linear-gradient(to right, #07cfc7, #07cfc7, #07cfc7, #07cfc7, #07cfc7);
}
.box1 ul li a{
  padding: 18px;
  padding-left: 45px;
  display: block;
  color: #07cfc7;
  font-family: Kanit-Regular; 
  font-size: 18px;
  width: 100%;
  height: 100%;
}

.box1 ul li:nth-child(1) a:before{
  content: "";
  background-image: url(../images/p1.png);
  background-repeat: no-repeat;  
  width: 20px;
  height: 20px;
  background-size: 20px 20px;
  position: absolute;
  margin-left: -25px;
  margin-top: 2px;
}

.box1 ul li:nth-child(2) a:before{
  content: "";
  background-image: url(../images/p2.png);
  background-repeat: no-repeat;  
  width: 20px;
  height: 20px;
  background-size: 20px 20px;
  position: absolute;
  margin-left: -25px;
  margin-top: 2px;
}

.box1 ul li:nth-child(3) a:before{
  content: "";
  background-image: url(../images/p3.png);
  background-repeat: no-repeat;  
  width: 20px;
  height: 20px;
  background-size: 20px 20px;
  position: absolute;
  margin-left: -25px;
  margin-top: 2px;
}

.box1 ul li:nth-child(4) a:before{
  content: "";
  background-image: url(../images/p4.png);
  background-repeat: no-repeat;  
  width: 20px;
  height: 20px;
  background-size: 20px 20px;
  position: absolute;
  margin-left: -25px;
  margin-top: 2px;
}
.box1 ul li.active:nth-child(1) a:before{
  content: "";
  background-image: url(../images/p1w.png);
  background-repeat: no-repeat;  
  width: 20px;
  height: 20px;
  background-size: 20px 20px;
  position: absolute;
  margin-left: -25px;
  margin-top: 2px;
}
.box1 ul li.active:nth-child(2) a:before{
  content: "";
  background-image: url(../images/p2w.png);
  background-repeat: no-repeat;  
  width: 20px;
  height: 20px;
  background-size: 20px 20px;
  position: absolute;
  margin-left: -25px;
  margin-top: 2px;
}
.box1 ul li.active:nth-child(3) a:before{
  content: "";
  background-image: url(../images/p3w.png);
  background-repeat: no-repeat;  
  width: 20px;
  height: 20px;
  background-size: 20px 20px;
  position: absolute;
  margin-left: -25px;
  margin-top: 2px;
}
.box1 ul li.active:nth-child(4) a:before{
  content: "";
  background-image: url(../images/p4w.png);
  background-repeat: no-repeat;  
  width: 20px;
  height: 20px;
  background-size: 20px 20px;
  position: absolute;
  margin-left: -25px;
  margin-top: 2px;
}


.box1 ul li:hover:nth-child(1) a:before{
  content: "";
  background-image: url(../images/p1w.png);
  background-repeat: no-repeat;  
  width: 20px;
  height: 20px;
  background-size: 20px 20px;
  position: absolute;
  margin-left: -25px;
  margin-top: 2px;
}
.box1 ul li:hover:nth-child(2) a:before{
  content: "";
  background-image: url(../images/p2w.png);
  background-repeat: no-repeat;  
  width: 20px;
  height: 20px;
  background-size: 20px 20px;
  position: absolute;
  margin-left: -25px;
  margin-top: 2px;
}
.box1 ul li:hover:nth-child(3) a:before{
  content: "";
  background-image: url(../images/p3w.png);
  background-repeat: no-repeat;  
  width: 20px;
  height: 20px;
  background-size: 20px 20px;
  position: absolute;
  margin-left: -25px;
  margin-top: 2px;
}
.box1 ul li:hover:nth-child(4) a:before{
  content: "";
  background-image: url(../images/p4w.png);
  background-repeat: no-repeat;  
  width: 20px;
  height: 20px;
  background-size: 20px 20px;
  position: absolute;
  margin-left: -25px;
  margin-top: 2px;
}






.box1 ul li.active a{
  color: #ffff;
}
.box1 ul li:hover{
  background-image: linear-gradient(to right, #07cfc7, #07cfc7, #07cfc7, #07cfc7, #07cfc7);
}
.box1 ul li a{
  color: #07cfc7;
  font-family: Kanit-Regular; 
  font-size: 18px;
}
.box1 ul li:hover a{
  color: #ffff;
}



.box2{ 
  background-color: #fff; 
  padding-top: 15px;
}
.box2 h1{
  font-family: Kanit-Regular; 
  color: #afafaf;
  border-bottom: 1px solid #afafaf;
  padding-bottom: 15px;
  margin-bottom: 15px;
  padding-left: 30px;
}

.data1{
  margin-top: 30px;
  padding:15px;  
}
.data1 h4{
  font-family: Kanit-Light;
  color: #6081c4;
  font-size: 20px;
  border-bottom: 1px solid #6081c4;
  padding-bottom: 15px; 
}
.data1 h4 span{
  font-family: Kanit-Light;
  color: #9d9f9d;
  font-size: 16px; 
  float: right;
}
.data1 h5{
  font-family: Kanit-Light;
  color: #6081c4;
  font-size: 20px; 
  padding-top: 5px;
  padding-left: 90px;
}
.data1 h3{
  font-family: Kanit-Regular;
  color: #5e615e;
  font-size: 24px; 
  float: right;
  margin-top: -30px;
} 
.data1 p{ 
  background-color: #6081c4;
  border-radius: 100%;
  position: absolute;
  left: 0;
  top: 0;
  margin-top: 20px; 
  padding-top: 10px;
}
.data1 p img{ 
  margin: auto;
  display: block;
}


.data2{
  margin-top: 30px;
  padding:15px;
}
.data2 h4{
  font-family: Kanit-Light;
  color: #00c300;
  font-size: 20px;
  border-bottom: 1px solid #00c300;
  padding-bottom: 15px; 
}
.data2 h4 span{
  font-family: Kanit-Light;
  color: #9d9f9d;
  font-size: 16px; 
  float: right;
}
.data2 h5{
  font-family: Kanit-Light;
  color: #00c300;
  font-size: 20px; 
  padding-top: 5px;
  padding-left: 90px;
}
.data2 h3{
  font-family: Kanit-Regular;
  color: #5e615e;
  font-size: 24px; 
  float: right;
  margin-top: -30px;
}
.data2 p{ 
  background-color: #00c300;
  border-radius: 100%;
  position: absolute;
  left: 0;
  top: 0;
  margin-top: 20px; 
  padding-top: 10px;
}
.data2 p img{ 
  margin: auto;
  display: block;
}
 
.data3{
  margin-top: 30px;
  padding:15px;
}
.data3 h4{
  font-family: Kanit-Light;
  color: #ebeb16;
  font-size: 20px;
  border-bottom: 1px solid #ebeb16;
  padding-bottom: 15px; 
}
.data3 h4 span{
  font-family: Kanit-Light;
  color: #9d9f9d;
  font-size: 16px; 
  float: right;
}
.data3 h5{
  font-family: Kanit-Light;
  color: #ebeb16;
  font-size: 20px; 
  padding-top: 5px;
  padding-left: 90px;
}
.data3 h3{
  font-family: Kanit-Regular;
  color: #5e615e;
  font-size: 24px; 
  float: right;
  margin-top: -30px;
}
.data3 p{ 
  background-color: #ebeb16;
  border-radius: 100%;
  position: absolute;
  left: 0;
  top: 0;
  margin-top: 20px;
  padding-top: 10px;
}
.data3 p img{ 
  margin: auto;
  display: block;
}
 
@keyframes anix { 
  from { 
    transform:scale(1); 
    opacity:0 
  } 
  to { 
    transform: scale(1); 
    opacity:1 
  } 
}
 
.menu-mo{ 
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 999;
  background-color: #fff;
    margin-top: -15px;
  height: 100vh;
  background-color: rgba(255,255,255,.0);
  display: none;  }
.showx{
  display: block !important;
  animation: anix .8s; 
  animation-fill-mode: both; 
}
.menu-mo ul{
  list-style: none;
  margin-left: 0px;
  padding-left: 0px;
  margin-bottom: 0px;
  width: 300px;
  border:1px solid #e3e3e3;
  border-bottom: none;

}
.menu-mo ul li{
  border-bottom: 1px solid #e8e8e8;
  background-image: linear-gradient(to right, #ffffff, #fbfbfb, #f6f6f6, #f2f2f2, #eeeeee);
}
.menu-mo ul li a{ 
  padding-left: 15px;
  display: block;
  padding: 15px;
  color: #07cfc7;
}
.menu-mo ul li a img{
  width: 20px; 
}


.fa-caret-down{ 
  display: block;
  color: #09a19b;
  font-size: 50px;
  position: absolute;
  margin-left: 260px;
  top: 0;
  margin-top: 15px;
  transform: rotate(90deg);
}


.btn-package{
  background-image: linear-gradient(to bottom, #13c0ba, #13c0ba, #13c0ba, #13c0ba, #13c0ba, #12beb8, #12bcb6, #11bab4, #0fb5af, #0db1ab, #0baca6, #09a8a2);
  padding: 12px 40px;
  font-family: Kanit-Regular;
  color: #fff; 
}
.btn-package:hover{
  background-image: linear-gradient(to top, #13c0ba, #13c0ba, #13c0ba, #13c0ba, #13c0ba, #12beb8, #12bcb6, #11bab4, #0fb5af, #0db1ab, #0baca6, #09a8a2); 
  color: #fff;
}
.package .col.body{
  padding: 15px 15px 30px 30px;
  border-bottom: 1px solid #dcdcdc;
}
.package .col.body h4{
  font-family: Kanit-Regular;
  color: #abacad; 
}
.package .col.body h4 span{
  float: right;
  color: #3b3c3d; 
  text-transform: uppercase;
}

.package .col.body h4 span.p1{
  color: #08a19c; 
  padding-bottom: 0px;
  line-height: 30px;
}

.package .col.f h3{
  font-family: Kanit-Bold;
  color: #08a19c;   
  text-transform: uppercase;
}
.package .col.f h3 span{
  float: right;
  color: #08a19c;
  text-transform: uppercase;
}


.package .col.body:nth-child(1) h4:before{ 
  background-image: url(../images/pg3-01.png); 
}

.package .col.body:nth-child(2) h4:before{ 
  background-image: url(../images/4g-01.png); 
}

.package .col.body:nth-child(3) h4:before{ 
  background-image: url(../images/call-01.png); 
}
.point .colx h3{
  color: #09a19b; 
  font-family: Kanit-Regular;
}
.point h5{  
  color: #09a19b;   
  font-family: Kanit-Regular;
}


@media only screen and (max-width: 991px) { /* MOBILE */
  .incd{
    margin-top: -10px;
  }
  .sec2 h3{
    font-size: 18px;
  }
  .sec2 h6{
    font-size: 14px;
    padding: 0px 15px;
  }
  .sec2 img{
    width: 120px;
  }
  .lslide .col-12 .box-p{
    height: 360px;
    transform:scale(0.7); 
    margin-top: 50px; 
    margin-right: 100px;  
    transform-origin: 20% 40%;
    width: 290px;
  }
  .lslide.active .col-12 .box-p{
    height: 380px;
    margin-top: 45px;
    transform:scale(1);   
  }
  .box-p{ 
    max-width: 390px; 
    padding: 30px 15px;
  }
  #product .col-12{
    padding: 10px !important;
  }
  .box-p h2{ 
    font-size: 26px; 
  }
  .box-p h3{ 
    font-size: 20px; 
  }
  .box-p h6{ 
    font-size: 14px; 
  }
  .btn-x{ 
    font-size: 22px; 
  }
  .btn-x span{
    font-size: 12px; 
  }
  .box-p span.p{  
    font-size: 10px; 
    padding: 10px 8px; 
    margin-top: 15px;
    margin-right: 10px; 
  }
  .sec3 h3{
    font-size: 22px;
    text-align: center;
  }
  .sec3 h5{
    font-size: 16px;
    text-align: center;
  }
  header .col-12{
    padding-left: 0px;
    padding-right: 0px;
  }
  header .logo{
    width: 90px;
  }
  header a{ 
    padding-left: 5px;
    padding-right: 5px;
    font-size: 16px;   
  }
  header a.login{ 
    padding-left: 5px;
    padding-right: 15px;
    float: right; 
    font-size: 14px;
  }
  header a.login:before{ 
    font-size: 16px;
    border-left: 2px solid #a2a2a2;
    padding-left: 30px;
  }
  .bt0{ 
    left: 26%;
    top: 65%; 
    font-size: 18px; 
    padding: 6px 50px;
  }
  .f-login h1{
    font-size: 24px;
  } 
  .f-login form{
    text-align: center;
  }
  .f-login form label{ 
    font-size: 14px;
    text-align: center;
  }
  .f-login form input{
    font-family: Kanit-Regular;  
    height: 40px;  
    border-radius: 8px;
    font-size: 16px;
    padding-left: 15px;
  }
  .bt-log{   
    font-size: 22px;
    width: 100%;
    text-align: center;
    padding: 8px;
    border-radius: 12px;
  }
  .f-login img{
    max-width: 220px;

  }
  .box2 h1{
    padding-left: 15px;
    font-size: 30px;
  }
  .box2{  
    padding: 30px 10px; 
  }
  .data1 p{
    width: 65px;
    height: 65px;  
    margin-left: 5px;
  }
  .data1 p img{
    width: 40px; 
  }
  .data2 p{
    width: 65px;
    height: 65px;  
    margin-left: 5px;
  }
  .data2 p img{
    width: 40px; 
  }
  .data3 p{
    width: 65px;
    height: 65px;  
    margin-left: 5px;
  }
  .data3 p img{
    width: 40px; 
  }
  .data1 h4{ 
    padding-left: 60px;
    font-size: 16px;
  }
  .data2 h4{ 
    padding-left: 60px;
    font-size: 16px;
  }
  .data3 h4{ 
    padding-left: 60px;
    font-size: 16px;
  }
  .data1 h4 span{ 
    font-size: 12px;
  }
  .data2 h4 span{ 
    font-size: 12px;
  }
  .data3 h4 span{ 
    font-size: 12px;
  }
  .data1 h5{ 
    padding-left: 60px;
    font-size: 14px;
  }
  .data2 h5{ 
    padding-left: 60px;
    font-size: 14px;
  }
  .data3 h5{ 
    padding-left: 60px;
    font-size: 14px;
  }
  .data1 h3{ 
    font-size: 16px;
  }
  .data2 h3{ 
    font-size: 16px;
  }
  .data3 h3{ 
    font-size: 16px;
  }
  .menu-right .logout:before{
    content: "\e80f";
    font-family: Linearicons-Free;
    padding-right: 5px; 
  }
  .menu-right{
    position: absolute;
    right: 0;
    top: 0;    
    margin-right: 15px;
  }
  .menu-right .logout{  
    margin-top: 5px;
  }
  .fa-bars{
    color: #09a19b;
    font-size: 30px;
    padding-right: 15px;
    padding-left: 15px; 
    border-right: 2px solid #cbcbcb; 
  }
  body.home header{
    height: 120px; 
  } 
  .user-mo{
    background-color: #09a19b;    
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
  }
  .user-mo a{
    display: block;
    padding: 10px;
    color: #fff;
    font-size: 13px;
    text-align: center;
  }
  .rvb{
    border-right: 1px solid #fff;
  }
  .btn-package{  
    font-size: 20px;    
    border-radius: 8px;
  }
  .package .col.body h4:before{
    content: ""; 
    background-repeat: no-repeat;  
    width: 40px;
    height: 40px;
    background-size: 40px auto;
    position: absolute; 
    margin-left: -50px;
  }
  .package .col.body h4{ 
    padding-left: 15px; 
    height: 30px;
    font-size: 16px;
  }
  .package .col.body h4 span{ 
    font-size: 20px; 
  }
  .package .col.body h4 span.p1{ 
    font-size: 22px; 
  }
  .package .col.body:nth-child(1) h4{ 
    line-height: 45px;
  }
  .package .col.body:nth-child(2) h4 span{ 
    line-height: 15px;
  }
  .package .col.body:nth-child(3) h4{ 
    line-height: 45px;
  }
  .package .col.f h3{  
    font-size: 24px; 
  }
  .package .col.f{
    text-align: center;
    padding: 15px 5px 30px 5px; 
  }

  .point .colx p.stx{ 
    background-color: #ebeb16;
    width: 50px;
    height: 50px;
    border-radius: 100%; 
    float: left;
    margin-top: -10px; 
    margin-left: 50px;
  }
  .point .colx p.stx img{ 
    width: 35px;
    margin: auto;
    display: block;
    padding-top: 7px;
  }
  .point .colx h3{   
  }
  .point .colx h3 span{  
    text-align: center;
    color: #5e615e;
    padding-left: 25px;
  }

}
@media only screen and (min-width: 992px) { /* PC */
  .incd{
    margin-top: -10px;
  }
  .box-p{ 
    max-width: 390px; 
    padding: 50px 30px;
  }
  ul#product{
    list-style: none;    
  }
  #product li{
    width: 33%;
    display: inline-block;
  }
  .box-p h2{ 
    font-size: 40px; 
  }
  .btn-x{ 
    font-size: 36px; 
  }
  .btn-x span{
    font-size: 16px; 
  }
  .box-p span.p{  
    font-size: 12px; 
    padding: 15px 13px; 
    margin-top: 20px;
    margin-right: 20px; 
  }
  header a{ 
    padding-left: 15px;
    padding-right: 15px;
    font-size: 22px;
  }
  header a.login{ 
    padding-left: 15px;
    padding-right: 15px;
    float: right; 
  }
  header a.login:before{ 
    font-size: 20px;
  }
  .bt0{ 
    left: 25%;
    top: 80%; 
    font-size: 28px; 
    padding: 8px 70px;
  }
  .f-login form label{ 
    font-size: 20px;
    padding-left: 30px; 
  }
  .f-login form input{ 
    height: 60px;  
    border-radius: 30px;
    font-size: 18px;
    padding-left: 45px;
  }
  .bt-log{   
    font-size: 30px;
    width: 220px;
    padding: 12px;
    border-radius: 30px;
  }
  .box2{  
    padding: 30px; 
  }
  .data1 p{
    width: 80px;
    height: 80px; 
    margin-left: 15px;
  }
  .data1 p img{
    width: 60px; 
  }
  .data2 p{
    width: 80px;
    height: 80px;  
    margin-left: 15px;
  }
  .data2 p img{
    width: 60px; 
  }
  .data3 p{
    width: 80px;
    height: 80px;  
    margin-left: 15px;
  }
  .data3 p img{
    width: 60px; 
  }
  .data1 h4{ 
    padding-left: 90px;
  }
  .data2 h4{ 
    padding-left: 90px;
  }
  .data3 h4{ 
    padding-left: 90px;
  }

  .btn-package{  
    font-size: 30px;
    border-radius: 30px;
  }
  .package .col.body h4:before{
    content: ""; 
    background-repeat: no-repeat;  
    width: 60px;
    height: 60px;
    background-size: 60px auto;
    position: absolute; 
    margin-left: -80px;
  }
  .package .col.body h4{ 
    padding-left: 70px;
    line-height: 50px;
    height: 40px;
  }
  .package .col.body h4 span{ 
    font-size: 36px; 
  }
  .package .col.body h4 span.p1{ 
    font-size: 48px; 
  }
  .package .col.f h3{  
    font-size: 48px; 
  }
  .package .col.f{
    padding: 15px 15px 30px 30px; 
  }

  .point{
    min-height: 400px;
  }
  .point .colx p.stx{ 
    background-color: #ebeb16;
    width: 50px;
    height: 50px;
    border-radius: 100%; 
    float: left;
    margin-top: -10px;
    margin-right: 25px;
  }
  .point .colx p.stx img{ 
    width: 35px;
    margin: auto;
    display: block;
    padding-top: 7px;
  }
  .point .colx h3:before{
    content: ""; 
    background-repeat: no-repeat;  
    width: 60px;
    height: 60px;
    background-size: 60px auto;
    position: absolute;  
    margin-left: -60px;
    margin-top: -15px;
  }
  .point .colx h3:before{ 
    background-image: url(../images/gift-01.png); 
  }
  .point .colx h3 span{ 
    float: right;
    color: #5e615e;
    padding-left: 25px;
  }

}
 



.carousel-fade .carousel-item {
 opacity: 0;
 transition-duration: .6s;
 transition-property: opacity;
}

.carousel-fade  .carousel-item.active,
.carousel-fade  .carousel-item-next.carousel-item-left,
.carousel-fade  .carousel-item-prev.carousel-item-right {
  opacity: 1;
}

.carousel-fade .active.carousel-item-left,
.carousel-fade  .active.carousel-item-right {
 opacity: 0;
}

.carousel-fade  .carousel-item-next,
.carousel-fade .carousel-item-prev,
.carousel-fade .carousel-item.active,
.carousel-fade .active.carousel-item-left,
.carousel-fade  .active.carousel-item-prev {
 transform: translateX(0);
 transform: translate3d(0, 0, 0);
}
/*
09a19b

348784
*/


